@import "../../../wrappscss/global.scss";
.formconteiner{
    margin-top: 50px;
    display: flex;
    font-family: $font;
    align-items: center;
    line-height: 1.5;
    width: 100vw;
    @include mobalie{
        flex-direction: column;
     }
    .contact{
        flex: 1;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        font-size: 20px;
        padding-left: 100px;
        color: $maincolor1;
        @include mobalie{
            padding-left: 0px;
            align-items: center;
            color: $maincolor4;
            font-weight: 400;
            font-size: 15px;
        }
        .mobile{
          display: flex;
          align-items: center;
          margin-top: 20px;
          p{
            margin-left: 10px;
        }
        }
       .email{
          display: flex;
          align-items: center;
          p{
              margin-left: 10px;
          }
       }
       
    }
    .xilva{
        transition: color 2s;
        color: $maincolor4;
    }
    .about{
        flex: 1;
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        color: $maincolor4;
        @include mobalie{
            position: absolute;
            width: 200px;
            height: 150px;
            padding: 10px;
            top: 25%;
            overflow: hidden;
            align-items: flex-start;
            font-size: 12px;
        }
        .depWrapper{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            P{
                background-color: whitesmoke;
                margin: 7px;
                border-radius: 10px;
                padding: 3px;
                animation: scal 2s forwards;
                @include mobalie{
                    margin: 3px;
                }
               
                @keyframes scal {
                  0%{
                      transform: scale(0.5);
                      opacity: 0.5;
                  }
                  50%{
                    transform: scale(1.05);
                    opacity: 1;
                  }
                   70%{
                    transform: scale(0.8);
                    opacity: 0.2;
                   }
                   100%{
                    transform: scale(1);
                    opacity: 1;
                   }
                }
            }
        }
    }
}